
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Changa+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');






/* ------------------FORMATO TEXTO---------------------*/



/* ------------------------------------ menú ppal -------------------------------*/








/* ------------------------------FRASE-------------------------*/







/* -------------------------------footer-------------------------------------------------*/












/* -----------------------------------FILMS----------------------------------------------------*/



/* ------------------------------------------BIOGRAFÍA-------------------------------*/





/* ------------------------------------------MULTIVERSO-------------------------------*/












/* ----------------------------------CONTACTO-----------------------------------------*/









@media screen and (max-width: 768px) {
    .centrado{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .centrado h1{
        display: none;
        font-size: 70px;
        letter-spacing: normal;
    }

    .portada img {
        width: 500px;
        position: relative;
        top: 1rem;
    }

    #titulo-responsive {
        display: inline;
        font-size: 120px;
        letter-spacing: normal;
    }

    .frase p {
        font-size: 15px;
    }

    .container-carousel {

        display: flex;
        flex-direction: column;
        height: 500px;
    }

    .container-carousel h2 {
        font-size: 50px;
    }

    #cinta {
        display: none;
    }

    #carouselExampleControls {
        width: 100%;
        grid-area: carousel;
    
    }

    .film{
        width: 90%;
    }

    .film-container {
        flex-direction: column;
    }

    #menu-final ul {
        width: 320px;

}



/* -----------------------------------recursos-------------------*/




/* Color Theme Swatches in Hex */
.Tarantino-1-hex { color: #081826; }
.Tarantino-2-hex { color: #990033; }
.Tarantino-3-hex { color: #F27405; }
.Tarantino-4-hex { color: #FFCC33; }
.Tarantino-5-hex { color: #F2F2F2; }

/*gradientes*/
/* .background: linear-gradient (to right, rgb(255, 239, 186), rgb(255, 255, 255))
.background: linear-gradient (to right, rgb(255, 179, 71), rgb(255, 204, 51)) */