
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Changa+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');






/* ------------------FORMATO TEXTO---------------------*/



/* ------------------------------------ menú ppal -------------------------------*/








/* ------------------------------FRASE-------------------------*/







/* -------------------------------footer-------------------------------------------------*/












/* -----------------------------------FILMS----------------------------------------------------*/



/* ------------------------------------------BIOGRAFÍA-------------------------------*/





/* ------------------------------------------MULTIVERSO-------------------------------*/












/* ----------------------------------CONTACTO-----------------------------------------*/










/* -----------------------------------recursos-------------------*/




/* Color Theme Swatches in Hex */
.Tarantino-1-hex { color: #081826; }
.Tarantino-2-hex { color: #990033; }
.Tarantino-3-hex { color: #F27405; }
.Tarantino-4-hex { color: #FFCC33; }
.Tarantino-5-hex { color: #F2F2F2; }

/*gradientes*/
/* .background: linear-gradient (to right, rgb(255, 239, 186), rgb(255, 255, 255))
.background: linear-gradient (to right, rgb(255, 179, 71), rgb(255, 204, 51)) */