footer  {
    grid-area: footer; 
    box-shadow: 1px 5px 13px 5px rgba(71,0,24,0.81);
    background-color: rgba(153, 0, 51, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        .alinear {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;    
        }

        & p{
            color: $white;
            text-align: center;
            padding: 7px   30px;
        }
}


// MENÚ FINAL

#menu-final ul {
    width: 500px;
    list-style: none;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $white;

} 

#menu-final li a {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $white;
    
}


// HOVER


#menu-final :hover {
    color:  $yellow;
}

// MEDIA QUERIES  

@media screen and (max-width: 768px) {

    #menu-final ul {
        width: 320px;
    }

}

@media screen and (max-width: 375px) {
    footer {
        font-size: 12px;
    }

    #menu-final ul {
        width: 250px;
    }

}

