
.frase  {
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .frase p {
//     text-align: center;
//     font-size: 20px;
//     color: white;
//     white-space: pre-line;
//     line-height: 40px;
//     margin: 4rem;
//   
// }


.frase p {
    min-height: 5em;
    padding   : 1em 4em;
    position  : relative;
    text-align: center;
    font-size: 20px;
    color: white;
    white-space: pre-line;
    line-height: 40px;
    margin: 4rem;
    position: relative;
    bottom: 1rem;
    
}


.frase::before,
.frase::after {
    position: relative;
    height  : 3rem;
    font: 6rem/100% Georgia, "Times New Roman", Times, serif;
}


.frase::before {
    content: '“';
    color: $white;
    bottom    : 3rem;
    left   : 6rem;
}


.frase::after {
    content: '”';
    top : 4rem;
    right  : 8rem;
    color: $white;
}


// MEDIA QUERIES

@media screen and (max-width: 768px) {

    .frase  {
        height: 50vh;
        overflow: hidden;
    }

    .frase p {
        text-align: center;
        font-size: 15px;
        color: white;
        line-height: 40px;
        white-space: pre-line;
        margin: 0px;
        
    }

    .frase::before,
    .frase::after {
    display: none;
    }

}