
.frase  {
    grid-area: frase;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase p {
    text-align: center;
    font-size: 20px;
    color: white;
    white-space: pre;
    line-height: 40px;


}