

header{
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    background: $gradient

}

// CENTRADO HEADER



.centrado {
    width: 100%;
display: flex;
flex-direction: column;
justify-items: center;
align-items: center;
z-index: 1;
}

.titulo-ppal {
    display: none;
}

.portada img {
    width: 600px;
    position: relative;
    bottom: 8rem;
}


// MEDIA QUERIES

@media screen and (max-width: 768px) {

    .centrado{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        & h1{
            display:  none;
        }
    }



    .titulo-ppal {
        width: 100%;;
        display: flex;
        flex-direction: column;
        justify-self: space-evenly;

        & p {
            font-size: 100px;
            letter-spacing: normal;
            font-family: 'Changa One';
            text-align: center;
            color:  #990033;
            letter-spacing: 10px;
            line-height: 0;
            text-shadow:7px 0px 0px rgba(255,46,18,0.61);
            margin: 2.1rem;
        } 
    }
        

    .portada img {
        width: 600px;
        position: relative;
        top: 1rem;
    }

}