
// @mixin parrafo ($size, $margin) {
//     font-size: $size;
//     text-align: $align;
//     line-height: 1.5rem;
//     margin: $margin;
// }

%article-multiverso {
    width: 90%;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: $white;
    box-shadow: 3px 7px 8px 1px rgba(0,0,0,0.25);
    padding: 40px;
    margin: 20px;
}

@mixin submit ($background, $color) {
    text-align: center;
    text-decoration: none;
    background-color: $background ;
    color: $color;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 6px;
    padding: 6px 12px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    
}