
@media screen and (max-width: 768px) {

    .texto h2, h2 {
        font-size: 3rem;
        letter-spacing: 4px;
        word-spacing: 6px;
        margin: 2rem;
        padding: 0px;
    }

    
}







@media screen and (max-width: 768px) {

    .centrado{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .centrado h1{
        display: block;
        font-size: 70px;
        letter-spacing: normal;
    }

    .portada img {
        width: 500px;
        position: relative;
        top: 1rem;
    }

    #titulo-responsive {
        display: inline;
        font-size: 120px;
        letter-spacing: normal;
    }

    .frase p {
        font-size: 15px;
    }

    .container-carousel {

        display: flex;
        flex-direction: column;
        height: 500px;
    }

    .container-carousel h2 {
        font-size: 50px;
    }

    #cinta {
        display: none;
    }

    #carouselExampleControls {
        width: 100%;
        grid-area: carousel;
    
    }

    .film{
        width: 90%;
    }

    .film-container {
        flex-direction: column;
    }

    #menu-final ul {
        width: 320px;
    }




}


