



#bio {
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 22.5% 22.5% 22.5% 22.5%;
    grid-template-areas: 
    "biografia biografia"
    "foto1 bio1"
    "bio2 foto2"
    "foto3 bio3"
    "bio4 foto4";
}

.biografia {
    grid-area: biografia;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bio1 {
    grid-area: bio1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin-bottom: 50px;

    & p {
        text-align: justify;
    }
}

.bio2 {
    grid-area: bio2;
    @extend .bio1
}

.bio3 {
    grid-area: bio3;
    @extend .bio1

}

.bio4 {
    grid-area: bio4;
    @extend .bio1
}



.foto1 {
    grid-area: foto1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.claqueta {
    height: 200px;
    z-index: 2;
    position: relative;
    bottom: 2rem;
    right: 8rem;
    transform: rotate(-10deg);
}

.foto2 {
    grid-area: foto2;
    @extend .foto1


}

.foto3 {
    grid-area: foto3;
    @extend .foto1

}

.foto4 {
    grid-area: foto4;
    @extend .foto1
}
