#peliculas  {
    background-color: $white;
    width: 100%;
    text-align: center;     

}

.container-carousel {
    width: 100%;
    height: 120vh;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 30% 70%;
    grid-template-areas: 
    "h2 cinta"
    "carousel cinta";
    overflow: hidden ;
    justify-content: flex-start;
    align-items: center;

    & #cinta {
        width: 300px;
        position: relative;
        top: 15rem;
    }


    & #carouselExampleControls {
        width: 100%;
        grid-area: carousel;
        position: relative;
        bottom: 3rem;

        & .carousel-control-next-icon {
            color: red;
        }

        & h2 {
            grid-area: h2;
        }
        
    
    }

}


#film-container {
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

    & .film  {
        width: 400px ;
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 20px;
        margin: 0 20px 40px;
        box-shadow: 3px 7px 8px 1px rgba(0,0,0,0.35);

        &:hover {
            opacity: 60%;
        }
    }
}




.bg-dark {
    background-color: $dark;
}

.bg-yellow {
    background-color: $yellow;
} 

.bg-orange {
    background-color: $orange;
} 

.bg-red {
    background-color: $red;
} 


.modal-title {
    font-size: 2rem;
    font-family: "Changa One";
    text-align: center;
    color: $red;
}

.modal-body iframe {
    margin-top: 1rem;
}

.sinopsis {
    font-weight: bold;

}




@media screen and (max-width: 768px) {


    .container-carousel {
        display: flex;
        flex-direction: column;
        height: 500px;

        & h2 {
            font-size: 50px;
            margin-bottom: 100px;
        }

        &  #carouselExampleControls {
            width: 100%;
            grid-area: carousel;
        }
    }

    #cinta {
        display: none;
    }


    .film-container {
        flex-direction: column;

        & .film {
            width: 90%;
        }
    }

}


@media screen and (max-width: 511px) {

    iframe {
        width: 360px;
        height: 215px;
    }
}


@media screen and (max-width: 375px) {

    iframe {
        width: 200px;
        height: 115px;
    }
}